.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header(style='width:100%')
      a.navbar-brand(href='/')
        i.fa.fa-cube
        | ISIS Battle Bots
      a.lead.text-danger(style='top:8px;position:relative')
        i.fa.fa-times
        span Offline